<tr>
  <td class='part_name'><%= participant.user.name %></td>
    <td class='user_rank'><%= rank_title participant.user.rank %></td>
  <td class='part_view'><%= link_to 'View', user_path(participant.user_id), class: 'btn btn-primary' %></td>
</tr>
