<div class="main-div">
  <input type="text" id="user_search" class="form-control" placeholder="Search by Name">
  <% logged_in_and_admin = logged_in && User.find_by_id(session[:user_id]).is_admin %>
  <% if logged_in_and_admin %>
    <h1>Users who have not paid their fees</h1>
    <table class="table table-sm table-striped">
      <% user_fee_collection = User.where("rank = ?", 0) %>
      <% if user_fee_collection.count != 0 %>
      <thead>
        <tr>
          <th>Name</th>
          <th>Rank</th>
          <th></th>
          <% if logged_in && User.find_by_id(session[:user_id]).is_admin %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>
      <% end %>
      <tbody>
        <%= render partial: 'user', collection: user_fee_collection, as: :user or "<div class=\"alert alert-info\" role=\"alert\">No user have yet to pay their fees.</div>".html_safe%>
      </tbody>
    </table>
  <% end %>
  <h1>All Members</h1>
  <table class="table table-sm table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Rank</th>
        <th></th>
        <% if logged_in_and_admin %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: User.where("rank = ? OR rank = ? OR rank = ?", 1, 2, 3).order('rank DESC'), as: :user %>
    </tbody>
  </table>
</div>
