<div class="main-div">
  <h1>Become a Member</h1>
  To be able to sign up for events on the Lakewood Leaders website, you must complete the following:
  <ul>
    <li>Create an account by <%= link_to 'registering.', register_path, target: :_blank %></li>
    <li>Print and fill out a copy of the <%= link_to 'parent consent form', asset_path('parentform.pdf'), target: :_blank %> with your parent/guardian.</li>
    <li>Turn in the parent consent form and $20 dues to Mrs. Sugalski (Room 587).</li>
  </ul>
  Once these steps are completed, an officer will set your account to a full member and you will be able to sign up for events.
</div>
