<div style='background: url(<%= asset_path 'cover.jpg' %>) no-repeat center; background-size: cover' class="opening">
  <h1 class="display-1 center"><div style="height: 100%; margin-top: 25%">The leaders of today, <br><small>who make the difference of tomorrow.</small></div></h1>
</div>
<div class="main-div">
  <h1>About Us</h1>
  <hr>
  <p>Lakewood Leaders is an organization that supports team work and leadership through community service
  events. Providing opportunity to support the community and give back to charity is the main goal of the organization. The members and their participation
  are the key to making Lakewood Leaders as successful as it is. As a club and as a team, we work hard to inspire others and give back as much as we can.</p>
  <h1>Our Officers</h1>
  <hr>
  <div class="officer left">
    <div class="row">
      <!-- <div class="col-md-2 col-sm-12">
        <img src="" alt="..." class="img-thumbnail img-fluid" style="max-height: inherit">
      </div> -->
      <div class="col-md-10 col-sm-12">
        <h4>Alyssa Morford<br>
          <small class="text-muted">President</small>
        </h4>
      </div>
    </div>
  </div>
  <div class="officer left">
    <div class="row">
      <!-- <div class="col-md-2 col-sm-12">
        <img src="" alt="..." class="img-thumbnail img-fluid" style="max-height: inherit">
      </div> -->
      <div class="col-md-10 col-sm-12">
        <h4>Molly Mendoza<br>
          <small class="text-muted">Vice President</small>
        </h4>
      </div>
    </div>
  </div>
  <div class="officer left">
    <div class="row">
      <!-- <div class="col-md-2 col-sm-12">
        <img src="" alt="..." class="img-thumbnail img-fluid" style="max-height: inherit">
      </div> -->
      <div class="col-md-10 col-sm-12">
        <h4>Joe Maier<br>
          <small class="text-muted">Treasurer</small>
        </h4>
      </div>
    </div>
  </div>
  <div class="officer left">
    <div class="row">
      <!-- <div class="col-md-2 col-sm-12">
        <img src="" alt="..." class="img-thumbnail img-fluid" style="max-height: inherit">
      </div> -->
      <div class="col-md-10 col-sm-12">
        <h4>Hannah Reynolds<br>
          <small class="text-muted">Historian</small>
        </h4>
      </div>
    </div>
  </div>
  <div class="officer left">
    <div class="row">
      <!-- <div class="col-md-2 col-sm-12">
        <img src="" alt="..." class="img-thumbnail img-fluid" style="max-height: inherit">
      </div> -->
      <div class="col-md-10 col-sm-12">
        <h4>Daniel Wilkinson<br>
          <small class="text-muted">Reporter</small>
        </h4>
      </div>
    </div>
  </div>
  <h1>Recent Announcements</h1>
  <hr>
  <div class="card-columns">
    <%= render partial: 'announcement', collection: Announcement.last(3).reverse!, as: :announcement %>
  </div>
</div>
